{% extends 'shared/base.html' %} {% block content %}

<h1>Project Board</h1>

<div class="container mx-0">
  <div class="d-flex justify-content-start">
    <h6>Filter Projects By:</h6>
    <a
      class="btn btn-danger mx-2"
      type="button"
      href="{% url 'masterplanapp:projectsPriority'%}"
      >Marked for Priority</a
    >
    <a
      class="btn btn-danger mx-2"
      type="button"
      href="{% url 'masterplanapp:projectsCompleted'%}"
      >Completed Projects</a
    >
    <a
      class="btn btn-danger mx-2"
      type="button"
      href="{% url 'masterplanapp:projectsConfirmed'%}"
      >Confirmed Projects</a
    >

    <a
      class="btn btn-danger mx-2"
      type="button"
      href="{% url 'masterplanapp:projectsByDate'%}"
      >Date (first to last)</a
    >
  </div>
</div>

<section class="projectList mt-2">
  {% for project in all_projects %}
  <div class="card project-width">
    <div class="card-body m-4">
      {% if project.priority == 1 %}<div class="ribbon ribbon-top-right"><span>Priority</span></div>{% endif %}
      <h4 class="card-title">Project Title: {{ project.name }}</h4>
      <div class="card-title">Client: {{ project.client.name }}</div>

      <h6 class="card-subtitle mb-2 text-muted">
        Description: {{ project.description }}
      </h6>
      <br>
      <div class="card-subtitle mb-2 text-muted">
        Venue: {{ project.location_name}}
      </div>
      <br>
      <div class="card-subtitle mb-2 text-muted">
        Address: {{ project.location_address}}, {{project.location_city}} {{project.location_state }} {{project.location_zipcode }}
      </div>
      <br>
      <div class="card-subtitle mb-2 text-muted">
        Start Date: {{ project.event_start_date }} 
      </div>
      <div class="card-subtitle mb-2 text-muted">
        End Date: {{ project.event_end_date }}
      </div>
    </div>

    <div class="container mx-0">
      <div class="d-flex justify-content-start">
        <form
          action="{% url 'masterplanapp:project_details' project.id %}"
          method="GET"
        >
          {% csrf_token %}
          <button class="btn btn-primary m-2">Edit</button>
        </form>

        <form
          action="{% url 'masterplanapp:project' project.id %}"
          method="POST"
        >
          {% csrf_token %}
          <input type="hidden" name="actual_method" value="ARCHIVE" />
          <button class="btn btn-danger m-2">{% if project.deleted is not None %} Archive {% else %} Delete {% endif %}</button>
        </form>

        <form
          action="{% url 'masterplanapp:projectPrintOut' project.id %}" target="_blank"
          method="GET"
        >
          {% csrf_token %}
          <button class="btn btn-secondary m-2">Print</button>
        </form>

      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
