<div class="card-body">
    <h4>Project Info</h4>
      <div>Project Name: {{ project.name }}</div>
      <div>Description: {{ project.description }}</div>
      <div>Venue Name: {{ project.location_name }}</div>
      <div>Venue Address: {{ project.location_address }}, {{ project.location_city }} {{ project.location_state }} {{ project.location_zipcode }}</div>
      <div>Event Start Date: {{ project.event_start_date}}</div>
      <div>Event End Data{{ project.event_end_date}}</div>
      <div>Load In: {{ project.load_in_time }}</div>
      <div>Load Out: {{ project.load_out_time }}</div>      
  </div>