<div class="card-body">
  {% if project.id is not None %}
      <form id="projectForm" action="{% url 'masterplanapp:project' project.id %}" method="post">
  {% else %}
      <form id="projectForm" action="{% url 'masterplanapp:projects' %}" method="post">
  {% endif %}
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Name: </label>
          <input class="form-control" id="name" type="text" name="name" value="{{ project.name }}">
      </div>
      <div class="form-group">
          <label for="description">Description: </label>
          <input class="form-control" id="description" type="text" name="description" value="{{ project.description }}">
      </div>
      <div class="form-group">
          <label for="location_name">Name of the Venue or Hotel: </label>
          <input class="form-control" id="location_name" type="text" name="location_name" value="{{ project.location_name }}">
      </div>
      <div class="form-group">
          <label for="location_address">Venue Street Address: </label>
          <input class="form-control" id="location_address" type="text" name="location_address" value="{{ project.location_address }}">
      </div>
      <div class="form-group">
          <label for="location_city">City: </label>
          <input class="form-control" id="location_city" type="text" name="location_city" value="{{ project.location_city }}">
      </div>
      <div class="form-group">
          <label for="location_state">State: </label>
          <input class="form-control" id="location_state" type="text" name="location_state" value="{{ project.location_state }}">
      </div>
      <div class="form-group">
          <label for="location_zipcode">Zipcode: </label>
          <input class="form-control" id="location_state" type="text" name="location_zipcode" value="{{ project.location_zipcode }}">
      </div>
      <div class="form-group">
          <label for="event_start_date">Event Start Date: </label>
          <input class="form-control" id="event_start_date" type="date" name="event_start_date" value="{{ project.event_start_date|date:'Y-m-d' }}">
      </div>
      <div class="form-group">
          <label for="load_in_time">Load In Time: </label>
          <input class="form-control" id="load_in_time" type="time" name="load_in_time" value="{{ project.load_in_time }}">
      </div>
      <div class="form-group">
          <label for="event_end_date">Event End Date: </label>
          <input class="form-control" id="event_end_date" type="date" name="event_end_date" value="{{ project.event_end_date|date:'Y-m-d' }}">
      </div>
      <div class="form-group">
          <label for="load_out_time">Load Out Time: </label>
          <input class="form-control" id="load_out_time" type="time" name="load_out_time" value="{{ project.load_out_time }}">
      </div>
      <div class="form-group">
          <label for="confirmed">Job Confirmed? </label>
          <select id="confirmed" name="confirmed">
              <option hidden value="">Select Option</option>
              <option value="False" {% if project.confirmed == 0 %} selected {% endif %}> No </option>
              <option value="True" {% if project.confirmed == 1 %} selected {% endif %}> Yes </option>
          </select>
      </div>
      <div class="form-group">
          <label for="priority">Is this Job a priority? </label>
          <select id="priority" name="priority">
            <option hidden value="">Select Option</option>
            <option value="0" {% if project.priority == 0 %} selected {% endif %}> No </option>
            <option value="1" {% if project.priority == 1 %} selected {% endif %}> Yes </option>
          </select>
      </div>
      <div class="form-group">
          <label for="completed">Job Completed? </label>
          <select id="completed" name="completed">
            <option hidden value="">Select Option</option>
            <option value="0" {% if project.completed == 0 %} selected {% endif %}> No </option>
            <option value="1" {% if project.completed == 1 %} selected {% endif %}> Yes </option>
          </select>
      </div>


      {% if project.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
          <button class="btn btn-link btn-block text-left collapsed" type="submit" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" value="Update">Update Details</button>
      {% else %}
      <button class="btn btn-link btn-block text-left collapsed" type="submit" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Save Details</button>
      {% endif %}

  </form>
  </div>

  