<div class="card-body">
  {% if project.venue.id is not None %}
      <form id="venueForm" action="{% url 'masterplanapp:venue' project.venue.id %}" method="post">
  {% else %}
      <form id="venueForm" action="{% url 'masterplanapp:venues' %}" method="post">
  {% endif %}
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Name: </label>
          <input class="form-control" id="name" type="text" name="name" value="{{ project.venue.name }}">
      </div>
      <div class="form-group">
        <label for="venue_phone">Venue Phone Number: </label>
        <input class="form-control" id="venue_phone" type="text" name="venue_phone" value="{{ project.venue.venue_phone }}">
      </div>
      <div class="form-group">
          <label for="street_address">Stree Address: </label>
          <input class="form-control" id="street_address" type="text" name="street_address" value="{{ project.venue.street_address }}">
      </div>
      <div class="form-group">
          <label for="city">City: </label>
          <input class="form-control" id="city" type="text" name="city" value="{{ project.venue.city }}">
      </div>
      <div class="form-group">
          <label for="state">State: </label>
          <input class="form-control" id="state" type="text" name="state" value="{{ project.venue.state }}">
      </div>
      <div class="form-group">
          <label for="zipcode">Zipcode: </label>
          <input class="form-control" id="zipcode" type="text" name="zipcode" value="{{ project.venue.zipcode }}">
      </div>
      <div class="form-group">
          <label for="contact_name">Contact Name: </label>
          <input class="form-control" id="contact_name" type="text" name="contact_name" value="{{ project.venue.contact_name }}">
      </div>
      <div class="form-group">
          <label for="contact_email">Contact Email: </label>
          <input class="form-control" id="contact_email" type="text" name="contact_email" value="{{ project.venue.contact_email }}">
      </div>
      <div class="form-group">
          <label for="contact_phone">Contact Phone Number: </label>
          <input class="form-control" id="contact_phone" type="text" name="contact_phone" value="{{ project.venue.contact_phone }}">
      </div>
      <div class="form-group">
          <label for="onsite_parking_address">Onsite Parking Address: </label>
          <input class="form-control" id="onsite_parking_address" type="text" name="onsite_parking_address" value="{{ project.venue.onsite_parking_address }}">
      </div>
      <div class="form-group">
          <label for="semi_parking">Semi Parking Address: </label>
          <input class="form-control" id="semi_parking" type="text" name="semi_parking" value="{{ project.venue.semi_parking }}">
      </div>
      <div class="form-group">
          <label for="loading_dock">How many Loading Docks? Dock Height?: </label>
          <input class="form-control" id="loading_dock" type="text" name="loading_dock" value="{{ project.venue.loading_dock }}">
      </div>

      {% if project.venue.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
          <button class="btn btn-link btn-block text-left collapsed" type="submit" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" value="Update">Update Details</button>
      {% else %}
      <button class="btn btn-link btn-block text-left collapsed" type="submit" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Save Details</button>
      {% endif %}

  </form>
  </div>